@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

a {
  transition: color 0.3s ease, background-color 0.3s ease;
}

img {
  max-width: 100%;
  height: auto;
}

a:hover {
  text-decoration: underline;
}

